:root{
  --mainGreen:#039445;
  --mainOrange:#FC6914;
  --mainBrown:#737373;
  --lightBrown:#999;
  --mainRed:#ED0612;
  --mainPink:#dc3545;
  --mainYellow:#ffc922;
  --lightGreen:#8bc34a;
  --mainBlue:#252850;
  --mainBlack: #000;
  --mainWhite:#fff;
  --mainAsh:#eaeaea;
  
}

body{
  font-family: 'Lora', serif!important;
  background:var(--mainWhite)!important;
  color:var(--mainBlack)!important;
}

.text-title{
  font-family: 'Lora', sans-serif;
  letter-spacing:0.2rem;
  font-weight:800;
  

}
.text-green{
  color: var(--mainGreen);
}
.bold{
  
  font-weight:bold
}
.font{
  font-size:14px;
}
.text-pink{
  color: var(--mainPink);
  
}
.display-none{
  display:none!important;
}
.float-right{
  float:right!important;
}
.float-left{
  float:left!important;
}
.navbar-toggler-icon{
  display:none!important;
}
.navbar-toggler{
  display:none;
}